

:root {

  --border-radius: 10px;

}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--bg);
  color: var(--text);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map {
  position: absolute;  /* fill screen */
  width: 90vw;
  height: 90vh;

  background-image: url('../public/baymap.png');
  background-size:cover;   /* scale to fill */
  background-position: center;
  background-repeat: no-repeat;
}



.timeline {
  position:fixed;
  bottom: 1rem;
  width:80vw;
  /* background:red; */
  backdrop-filter:blur(10px);
  
  height:3rem;
  border-radius:var(--border-radius);

  /* display:flex;
  justify-content: center;
  align-items: center; */
  
}

.time-marker {

  
}